.header {
  min-height: 88px;
  background: #1C1C21;
}

.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav_burger {
  padding: 0 20px 0 20px;
}

.nav_link {
  display: flex;
  text-decoration: none;
  color: #F2F2F3;
}

.active_nav_link {
  /* color: blueviolet; */
}
.nav_list {
  composes: nav_burger;
  padding: 0 130px 0 20px;
}

.nav_account {
  composes: nav_list;
  padding: 0 20px 0 310px;
}
